
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="float_r">
    <h2>Checkout</h2>
    <h5><strong>BILLING INFORMATION</strong></h5>
    <div class="content_half float_l checkout">
        Full Name (must be same as on your credit card):
        <input type="text" style="width:300px;" />
        <br />
        <br />
        Address:
        <input type="text" style="width:300px;" />
        <br />
        <br />
        City:
        <input type="text" style="width:300px;" />
        <br />
        <br />
        Country:
        <input type="text" style="width:300px;" />
    </div>

    <div class="content_half float_r checkout">
        E-MAIL
        <input type="text" style="width:300px;" />
        <br />
        <br />
        PHONE<br />
        <span style="font-size:10px">Please, specify your reachable phone number. YOU MAY BE GIVEN A CALL TO VERIFY AND COMPLETE THE ORDER.</span>
        <input type="text" style="width:300px;" />
        <a href="@Url.Action("Successful", "Home")">Buy</a>
    </div>

</div>
