
@{
    ViewBag.Title = "Successful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="float_r">
    <h2><strong>Order Successful</strong></h2>
    <h5>Thank you for your order, we will ship it to you as soon as possible!</h5>
    
</div>

